<div class="modal"
    style="background-color: transparent; display: block; width: 35vw; position: absolute; left:32.5vw; top:45vh;"
    tabindex="-1" role="dialog" id="{{actId}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: white;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Parks where you can perform your chosen activity:
                    <strong><em>{{selectedActivity}}</em></strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeParksForAct()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#each actParks as |park|}}
                <h5><a href="{{park.url}}" target="_blank">{{park.fullName}}</a></h5>
                <p>{{park.designation}}</p>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    onclick="closeParksForAct()">Close</button>
            </div>
        </div>
    </div>
</div>