   <h3>Comment for <em>"{{post_title}}"</em> by {{post_author}} </h3>
        <div class="card" data-id="{{id}}" style="width: 79vw;">
            <div class="card-body">
                <p>
                    <span>Created by {{author}} on {{format_date date_created}}</span>
                </p>
                <p class="card-text">{{content}}.</p>
            </div>
        </div>