<div class="col-sx-12 col-md-10 col-lg-8 m-auto">
    {{#unless transparent}}
    <div  class="card text-secondary bg-light border-dark">
    {{else}}
        <div  class="card text-secondary bg-transparent border-light">
    {{/unless}}
    {{#unless transparent}}
        <div class="card-body">
            <h3 class="card-title"><em>Continue your voyage through nature:</em></h3>
            <a class='text-info' href="/">Go Back to the Homepage</a></br>
            <a class='text-info' href="/api/dashboard">Go Back to your Dashboard</a></br>
            <a class='text-info' href="/api/explorers/search">Go Back to Search More Explorers</a></br>
            {{#if author_name}}
            <a class='text-info' href="/api/explorers/search/{{explorer_id}}/posts">Go Back to See More of
                {{author_name}}'s Posts</a>
            {{/if}}
        </div>
    </div>
</div>
{{/unless}}
{{#if transparent}}
  <div class="card-body">
            <h3 class="card-title text-light"><em>Continue your voyage through nature:</em></h3>
            <a class='text-light' href="/">Go Back to the Homepage</a></br>
            <a class='text-light' href="/api/dashboard">Go Back to your Dashboard</a></br>
            <a class='text-light' href="/api/explorers/search">Go Back to Search More Explorers</a></br>
            {{#if author_name}}
            <a class='text-info' href="/api/explorers/search/{{explorer_id}}/posts">Go Back to See More of
                {{author_name}}'s Posts</a>
            {{/if}}
        </div>
    </div>
</div>
{{/if}}