   <div class="card" style="display:block;" data-favorite="{{explorer_park.is_favorite}}" data-visited="{{explorer_park.has_visited}}" data-wants="{{explorer_park.wants_to_visit}}">
      <div class="card-media-preview u-flex-center favorite-button" data-card-id="{{id}}">
        <div class="card-body">
          <h2><a href="{{directions_url}}" target="_blank"><strong>{{full_name}}</strong></a>
          <img class= "img-fluid" src="{{image_url}}" alt="{{image_altText}}" class="card-media-img" style="max-height: 20vh;"/>
          <h4 style="text-align: right;">{{designation}}</h4>
          <button class="btn btn-secondary" type="button" onclick="deleteCard(event)">Remove from the List</button>
        </div>
      </div>
    </div>