{{#if loggedIn}}
<div class="card">
  <div class="card-body">
    <p>
    <h3 class="card-title">{{title}}</h3>
    <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
    <span>Created by {{author_name}} on {{format_date date_created}}</span>
    </p>
    <p class="card-text">{{content}}</p>
    <form class="form signup-form">
      <div class="form-group">
        <label for="comment-area">Comment:</label>
        <textarea class="form-input" type="text" id="comment-area"></textarea>
      </div>
      <button class="btn btn-secondary edit" id="add-comment">Add Comment</button>
    </form>
    {{>continue-voyage-partials}}
  </div>
</div>
{{/if}}

<script src="/scripts/add-comment.js"></script>