{{#if loggedIn}}
<div class="card">
  <div class="card-body">

    {{#if favoriteParks}}
    {{#if ownParks}}
    <h3 class="card-title">Here are your favorite parks, <span> {{username}}!</span></h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{else}} 
    <h3 class="card-title">Here are the favorite parks of<span> {{username}}</span>:</h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{/if}}
    {{#each favoriteParks as |park|}}
    {{>view-parks-partials}}
    {{/each}}
    {{/if}}

    {{#if visitedParks}}
    {{#if ownParks}}
    <h3 class="card-title">Here are the parks that you already visited, <span> {{username}}!</span></h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{else}}
    <h3 class="card-title">Here are the parks that <span> {{username}}</span> has already visited:</h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{/if}}
    {{#each visitedParks as |park|}}
    {{>view-parks-partials}}
    {{/each}}
    {{/if}}

    {{#if planToVisitParks}}
    {{#if ownParks}}
    <h3 class="card-title">Here are the parks that you want to visit, <span> {{username}}!</span></h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{else}}
    <h3 class="card-title">Here are the parks that <span> {{username}} </span> wants to visit:</h3>
    <h6 class="card-subtitle">(Id: #{{id}})</h6>
    {{/if}}
    {{#each planToVisitParks as |park|}}
    {{>view-parks-partials}}
    {{/each}}
    {{/if}}
  </div>
</div>
{{>continue-voyage-partials}}
{{/if}}

<script src="/scripts/search-parks.js"></script>